body {
    background-color: aquamarine;
    margin:0px;

}

#navi {
    text-align: right;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    padding: 40px 20px 40px 20px;
    background: whitesmoke;
}

.navbar_custom {
    margin-right: 50px;

}

#data_diri {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 20px;
    /* background-color: azure; */
}

#detail_person_1 {
    /* display : inline-flex; */
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

#detail_person_2 {
    /* display : inline-flex; */
    margin-left: 50px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-top: 0px;
    font-weight: bold;
}

#detail_person_3 {
    /* display : inline-flex; */
    margin-left: 50px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-top: 0px;
}
#form_1 {
    background-color: beige;
}

/* .button { */
    /* background-color: #04AA6D; Green */
    /* border: none; */
    /* color: white; */
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */

  /* } */
  #form_2 {
    margin-left: 50px;
    margin-top: 50px;
    ;
  }